---

import BasicLayout from '../../layouts/BasicLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import { getCollection } from 'astro:content';

const posts = (await getCollection('aktiviti')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BasicLayout title="Kolej Vokasional Kuala Selangor" description={SITE_DESCRIPTION}>
	<main>
		<center>
			info
			{
				posts.map((post) => (
					<li>
						<a href={`/aktiviti/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
			
		</center>
	</main>
</BasicLayout>

