---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="ERROR" description="error page">
    <center>
        <br><br>
        <!-- display kalau error -->
        <p style="color:#131038;font-size: larger;"><b>Maaf , halaman tidak dapat dijumpai</b></p><br><br>
        <a href="/"><button style="background-color:#131038 !important;color:white;padding:5px;border-radius:3px;font-weight: bold;">Kembali ke Laman Utama</button></a>
        <br><br><br><br><br><br><br>
    </center>
</BasicLayout>