---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="ERROR" description="error page">
    <center>
        <br><br>
        <p style="color:red">MAAF , PAGE TIDAK DIJUMPAI</p>
    </center>
</BasicLayout>