---

import BasicLayout from '../layouts/BasicLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<BasicLayout title="Kolej Vokasional Kuala Selangor" description={SITE_DESCRIPTION}>
	<main>
		<center>
			something
			
		</center>
	</main>
</BasicLayout>


