---

import BasicLayout from '../layouts/BasicLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Carousel from '../components/pages/Carousel.astro';
// const allPosts = await Astro.glob("../content/aktiviti/*.{md,mdx}");

---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<div class="carousel-container w-full">
			<div class="carousel">
				<!-- carousel image slider -->
				<Carousel />
			</div>
		</div>

		<!-- Section Teroka -->
		<div class="main-container -mt-36 md:mt-0">
			<br>
			<center>
				<h2 class="text-4xl pb-1" style="font-size:2rem !important">TEROKAI KAMI</h2>
				<p>Peneraju pendidikan teknikal dan vokasional yang unggul</p>
			</center>
			
			<div class="explore-card block md:flex" style="padding:3%">

				<!-- Card 1 -->
				<div class="cards-x w-full p-3 h-auto">
					<a href="">
						<div class="card w-full">
							<div class="card-img w-full">
								<img class="card-img-zoom " src="/info/gallery1.jpg" alt="some imgae">
							</div>
							<div class="text p-3">
								<h3 class="font-bold text-lg">KEBOLEHPASARAN PELAJAR YANG TINGGI</h3>
								<p class="text-base text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum temporibus deleniti provident, repellendus odio corporis qui enim magni porro deserunt.</p>
							</div>
						</div>
					</a>
				</div>

				<!-- Card 2 -->
				<div class="cards-x w-full p-3 h-auto">
					<a href="/info/kemudahan">
						<div class="card w-full">
							<div class="card-img w-full h-30">
								<img class="card-img-zoom " src="/info/gallery2.webp" alt="some imgae">
							</div>
							<div class="text p-3">
								<h3 class="font-bold text-lg">FASILITI YANG SELESA</h3>
								<p class="text-base text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum temporibus deleniti provident, repellendus odio corporis qui enim magni porro deserunt.</p>
							</div>
						</div>
					</a>
				</div>

				<!-- Card 3 -->
				<div class="cards-x w-full p-3 h-auto">
					<a href="">
						<div class="card w-full">
							<div class="card-img w-full h-30">
								<img class="card-img-zoom " src="/info/gallery3.png" alt="some imgae">
							</div>
							<div class="text p-3">
								<h3 class="font-bold text-lg">MELAHIRKAN PELAJAR YANG BERSAHSIAH TINGGI</h3>
								<p class="text-base text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum temporibus deleniti provident, repellendus odio corporis qui enim magni porro deserunt.</p>
							</div>
						</div>
					</a>
				</div>
			</div>


			<!-- Ucapan PENGARAH -->
			<center>
				<div class="ucapan-container card max-w-6xl">
					<div class="ucapan block md:flex md:pr-20">
						<div class="text-ucapan w-full text-left p-4">
							<h3 style="font-size:1rem" class="font-bold">Lorem ipsum dolor sit.</h3><br>
							<p><i>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, consequuntur?"</i></p><br>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis harum, numquam amet ullam ad quos molestias delectus beatae totam dolorum officia quis itaque, corporis dolor repellendus ex perspiciatis nam?</p>
						</div>
						<img src="info/daud-ismail.png" alt="pengarah kvks">
					</div>
				</div>
			</center>
		</div>

		<!-- Permohonan -->
		<div class="main-container">
			<br><br>
			<div class="md:flex">
				<div class="img w-full flex justify-center">
					<img style="max-width: 70%;" src="/info/poster-kemasukkan.jpg" alt="poster">
				</div>
				<div class="penerangan w-full px-4">
					<br><br>
					<h3><b>PERMOHONAN TERBUKA KEPADA SEMUA PELAJAR TINGKATAN 3 TAHUN 2022 JOM MASUK KVKS</b></h3>
					<br>
					<p>Permohonan secara atas talian telah dibuka bermula 30 September hingga 30 November 2022 Permohonan boleh dibuat melalui link :</p>
					
					<a href="https://spskt4.moe.gov.my/" target="_blank">https://spskt4.moe.gov.my/</a>
					<br><br>
					<p>
						SYARAT KHUSUS <br>
						Minima tahap penguasaan TIGA (3) pentaksiran bilik darjah LIMA (5) matapelajaran iaitu BAHASA MELAYU, SAINS, MATEMATIK, BAHASA INGGERIS dan RBT/Asas Sains Komputer <br><br>
						SEBARANG PERTANYAAN, BOLEH HUBUNGI : <br>
						<b>Pn. Azura binti Mahat - 019 6330027 <b><br>
						<b>Pn. Nur Hani Binti Halim - 012 6551595 </b><br>
						<b></b>Pejabat KVKS - 03 32718370</b>
					</p>
				</div>
			</div>

			<!-- TODO list recent aktiviti  -->
		</div>
		<br><br>
	</main>
</BasicLayout>


