---
import { Image } from "@astrojs/image/components/";
const { post } = Astro.props;

const {title, heroImage} = post;

---

<div class="card-container">
	<!-- <pre>{JSON.stringify(post.frontmatter, null, 2)}</pre> -->
	<!-- FIXME fix image not render -->
	<!-- <Image src={heroImage} /> -->
	<img src={heroImage} alt="alt">
	<!-- {post.frontmatter.title} -->
</div>