---
const today = new Date();
---

  <footer class="footer-main" style="background-color:#131038">
  <div class="container">
    <div class="md:flex address-main">
      <div class="col-lg-4 col-sm-12 col-xs-12 md:px-3 w-full">
        <div class="address-box clearfix">
          <div class="add-content">
            <h5 class="text-white"><b>Hubungi Kami</b></h5>
            <p>     
				  Kolej Vokasional Kuala Selangor	<br>
    			Bestari jaya, 45600	<br>
    			Selangor, Malaysia	<br> <br>
          Telefon <a href="https://google.com">03-32718370</a> <br />
          Fax <a href="http://google.com">03-32718371</a> 
			  </p>
      </div>
    </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12 md:px-3 w-full">
        <div class="address-box clearfix">
          <div class="add-content">
            <h5><b>Pautan Pantas</b></h5>
            <p> 
              <a href="https://sites.google.com/view/mppkvkualaselangor" style="text-decoration:none">Laman Web MPP</a><br>
              <a href="https://ms.wikipedia.org/wiki/Kolej_Vokasional_Kuala_Selangor" style="text-decoration:none">Laman Wikipedia KVKS</a> 
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12 md:px-3 w-full">
        <div class="address-box clearfix">
          <div class="add-content">
            <h5></h5>
            <p> 
              <div class="social-links flex pt-3">
                <div class="social-link p-2">
                  <a href="https://www.facebook.com/kvks.sel/"><img class="w-8" src="/icons/footer/facebook.png" alt="facebook icon"></a>
                </div>
                <div class="social-link p-2">
                  <a href="https://www.youtube.com/@kvkualaselangor_official8551"><img class="w-8" src="/icons/footer/youtube.png" alt="youtube icon"></a>
                </div>
                <div class="social-link p-2">
                  <a href="https://www.instagram.com/kvkualaselangor_official"><img class="w-8" src="/icons/footer/instagram.png" alt="instagram icon"></a>
                </div>
                <div class="social-link p-2">
                  <a href="https://www.google.com/maps/dir/2.9229056,101.6929667/google+maps+kv+kuala+selangor/@3.1457593,101.3959934,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x31cc60db623bb93d:0x3c9391707e336109!2m2!1d101.3981924!2d3.3831747?entry=ttu"><img class="w-8" src="/icons/footer/google-maps.png" alt="google-maps icon"></a>
                </div>
                <div class="social-link p-2">
                  <a href="https://www.waze.com/live-map/directions/kv-kuala-selangor-bestari-jaya?navigate=yes&to=place.w.66453538.664535378.4709116#opening-hours"><img class="w-8" src="/icons/footer/waze.png" alt="waze icon"></a>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Copyright Footer -->
<footer class="text-center text-white">

<!-- Grid container -->
<!-- <div class="container p-4 pb-0"> -->
  <!-- Section: Social media -->
  <!-- <section class="mb-4">
    Facebook
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/kvks.sel" role="button"
      ><i class="fa fa-facebook-f"></i
    ></a>

    Youtube
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/@kvkualaselangor_official8551">
      <i class="fa fa-youtube"></i
    ></a>

    Google
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/search?q=google+maps+kv+kuala+selangor&oq=google+maps+&aqs=chrome.1.69i57j35i39j0i131i433i512l3j0i512l2j0i131i433i512j0i512l2.4128j0j7&sourceid=chrome&ie=UTF-8">
      <i class="fa fa-google"></i
    ></a>

    Instagram
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/kvkualaselangor_official/" role="button"
      ><i class="fa fa-instagram"></i
    ></a>

  </section> -->
  <!-- Section: Social media -->
<!-- </div> -->
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3 text-sm" style="background-color: rgba(0, 0, 0, 0.2);">
	Hakcipta &copy; {today.getFullYear()} Kolej Vokasional Kuala Selangor. Hakcipta Terpelihara
</div>
</footer>



<!-- SCRIPTS  -->
<script>
	// // nav scroll stiky
	const body = document.body;
	const nav = document.getElementById("nav");
	let lastScroll = 0 ;

	window.addEventListener('scroll', () => {
		const currentScroll = window.pageYOffset;

		if (currentScroll <= 0){
			body.classList.remove("scroll-up")
		}

		if (currentScroll > lastScroll && !body.classList.contains("scroll-down")){
			body.classList.remove("scroll-up")
			body.classList.add("scroll-down")
		}
		if (currentScroll < lastScroll && body.classList.contains("scroll-down")){
			body.classList.remove("scroll-down")
			body.classList.add("scroll-up")
		}

		lastScroll = currentScroll;
	})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>