---
import HeaderLink from './HeaderLink.astro';
import SearchBar from './SearchBar.astro';
---

<header class="pb-20 md:pb-5 lg:pb-0">
	<div class="top-nav hidden md:block">
		<div class="social-icon flex p-1 h-7">
			<div class="w-full"></div>
			<p class="flex pr-20">

				<!-- top social icon -->
				<a class="px-3" style="width:45px" href="https://www.youtube.com/@kvkualaselangor_official8551"><img src="/icons/youtube.png" alt="youtube"></a>
				<a class="px-3" style="width:45px" href="https://www.facebook.com/kvks.sel/"><img src="/icons/facebook.png" alt="facebook"></a>
				<a class="px-3" style="width:45px" href="https://www.instagram.com/kvkualaselangor_official/"><img src="/icons/instagram.png" alt="instagram"></a>
				<a class="px-3" style="width:43px" href="https://www.google.com/maps/dir/2.9229056,101.6929667/google+maps+kv+kuala+selangor/@3.1457593,101.3959934,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x31cc60db623bb93d:0x3c9391707e336109!2m2!1d101.3981924!2d3.3831747?entry=ttu"><img src="/icons/google-maps.png" alt="googlemaps"></a>
			</p>
		</div>
		<hr>
		<!-- top logo icon -->
		<div class="logo p-3" style="padding-left:4% !important">
			<img style="width:130px" src="/placeholder-social.png" alt="logo">
		</div>
	</div>

	<!-- navbar start -->
	<!-- logo for mobile -->
	<div class="mobMenu pt-2 flex md:hidden fixed z-50" style="background-color:#fcfcfc; width:100%;height:60px;padding-top:5px;padding-right:5%;padding-left:5%">

		<div class="md:hidden w-full">
			<div class="logo-container p-1 bg-white" style="width: fit-content;border-radius: 4px;">
				<img style="width:120px" src="/placeholder-social.png" alt="logo">
			</div>
		</div>
		<div class="menu-open">
			<img class="w-10" src="/icons/ham-icon.png" alt="ham-icon">
		</div>
	</div>

	<!-- navbar desk -->
	<!-- TODO buat navbar sticky -->
	<div class="mmenu mt-1" >
		<!-- close ofcanvas icon -->
		<div class="menu-close"><span class="close"></span></div>

		<ul class="mmenu-nav px-10" style="background-color:#2B266D;">
			<!-- offcanvas logo -->
			<div class="offcanvas-logo md:hidden" style="background-color:rgb(255, 255, 255);width:100%;padding:10px;border-radius: 4px;">
				<img class="md:hidden" style="width:150px" src="/placeholder-social.png" alt="logo">
			</div>
			<br>

			<!-- utama -->
			<li class="item"><HeaderLink href="/">Utama</HeaderLink></li>

			<!-- info koperat -->
			<li class="item dropdownitem">
				<a href="#" class="nav-dropdown">Info Koperat</a>
				<div class="dropdown">
					<ul>
						<li class="item"><HeaderLink href="/info/pengenalan">Pengenalan</HeaderLink></li>
						<li class="item"><HeaderLink href="/info/carta">Carta Organisasi</HeaderLink></li>
						<li class="item"><HeaderLink href="/info/objektif">DASAR , OBJEKTIF , MATLAMAT DAN FALSAFAH</HeaderLink></li>

						<!--^ contoh kalau nak tambah sub menu -->
						<!-- <li class="item dropdownitem">
							<a href="#" class="nav-dropdown">Web Hosting</a>
							<div class="dropdown">
								<ul>
									<li class="item"><a href="#">Linux Hosting</a></li>
									<li class="item"><a href="#">Windows Hosting</a></li>
								</ul>
							</div>
						</li> -->
					</ul>
				</div>
			</li>

			<!-- permohonan -->
			<li class="item dropdownitem">
				<a href="#" class="nav-dropdown">Permohonan</a>
				<div class="dropdown">
					<ul>
						<li class="item"><a href="https://sptv.moe.gov.my/">SVM</a></li>
						<li class="item"><a href="https://semakdvm.kvkualaselangor.com/">DVM</a></li>
						<!-- TODO add SLDN link -->
						<li class="item"><a href="#">SLDN</a></li>
					</ul>
				</div>
			</li>

			<!-- akademik -->
			<li class="item dropdownitem">
				<a href="#" class="nav-dropdown">Pentadbiran</a>
				<div class="dropdown">
					<ul>
						<!-- link Rasmi google site -->
						<li class="item dropdownitem">
							<a href="#" class="nav-dropdown">Pengurusan</a>
							<div class="dropdown">
								<ul>
									<li class="item"><a href="https://sites.google.com/moe-dl.edu.my/portaljabatanumumkvks/utama">Jabatan Umum</a></li>
									<li class="item"><a href="https://sites.google.com/moe-dl.edu.my/kvks-kjk">Unit Jaminan Kualiti</a></li>
									<li class="item"><a href="https://sites.google.com/moe-dl.edu.my/unit-sokongan-akademik/utama">Pengurusan Sokongan Akademik</a></li>
									<li class="item"><a href="https://sites.google.com/moe-dl.edu.my/kvks-tpa/utama">Unit Pengurusan Akademik</a></li>
								</ul>
							</div>
						</li>
						<li class="item dropdownitem">
							<a href="#" class="nav-dropdown">Jabatan Perniagaan</a>
							<div class="dropdown">
								<ul>
									<!-- TODO add Perakaunan link -->
									<li class="item"><a href="#">Perakaunan</a></li>
									<!-- TODO add Pemasaran link -->
									<li class="item"><a href="#">Pemasaran</a></li>
								</ul>
							</div>
						</li>
						<li class="item dropdownitem">
							<a href="#" class="nav-dropdown">Jabatan Seni Reka</a>
							<div class="dropdown">
								<ul>
									<!-- TODO add animasi link -->
									<li class="item"><a href="#">Teknologi Animasi 3D</a></li>
								</ul>
							</div>
						</li>
						<li class="item dropdownitem">
							<a href="#" class="nav-dropdown">Jabatan ICT</a>
							<div class="dropdown">
								<ul>
									<!-- TODO add KPD link -->
									<li class="item"><a href="#">Teknologi Sistem Pengurusan Pangkalan Data dan Aplikas Web</a></li>
								</ul>
							</div>
						</li>
						<li class="item dropdownitem">
							<a href="#" class="nav-dropdown">Jabatan Hospitaliti</a>
							<div class="dropdown">
								<ul>
									<!-- TODO add Bakery link -->
									<li class="item"><a href="#">Bakeri Dan Pastri</a></li>
									<!-- TODO add Kulinari link -->
									<li class="item"><a href="#">Seni Kulinari</a></li>
								</ul>
							</div>
						</li>
							<!-- TODO add SLDN link -->
						<li class="item"><a href="#">Jabatan SLDN</a></li>
					</ul>
				</div>
			</li>

			<!-- kemudahan -->
			<li class="item dropdownitem">
				<a href="#" class="nav-dropdown">Kemudahan</a>
				<div class="dropdown">
					<ul>
						<li class="item"><a href="/info/kemudahan">Kemudahan Yang Disediakan</a></li>
						<li class="item"><a href="https://www.e-parcelkvks.com/">E-parcel</a></li>
						<li class="item"><a href="https://sites.google.com/view/mppkvkualaselangor/">MPP KVKS</a></li>
						<li class="item"><a href="https://ekokedikvks.com/">EKOKEDI</a></li>
					</ul>
				</div>
			</li>

			<!-- hep  -->
			<li class="item"><a href="https://hep.kvkualaselangor.com">HEP</a></li>

			<!-- aktiviti -->
			<li class="item"><a href="/aktiviti">Aktiviti</a></li>

			<!-- search bar -->
			<li class="item z-50 md:w-full">
				<SearchBar></SearchBar>
			</li>
		</ul>
	</div>
</header>

<style>
	@import "../styles/header.css";
</style>

<script src="../assets/js/header.js"></script>