---

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Pages">
    {
        prevUrl && (
            <a href={prevUrl} style="primary">Previous</a>
        )
    }
    {
        nextUrl && (
            <a href={nextUrl} style="primary">Next</a>
        )
    }
</nav>