---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

// get semua post dan return
export async function getStaticPaths() {
	const posts = await getCollection('aktiviti');
	return posts.map((post) => ({
		params: { slug: post.data.title },
		props: post,
	}));
}
// get props dari index
type Props = CollectionEntry<'aktiviti'>;

const post = Astro.props;
const { Content } = await post.render();
---

<!-- berdasarkan jenis prop yang dihantar akan guna layout BlogPost untuk display -->
<BlogPost {...post.data}>
	<!-- <h1>{post.data.title}</h1> -->
	<Content />
</BlogPost>
