---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from '@astrojs/image/components';
import Card from '../../components/Card.astro';

// get semua content 
const allPosts = await Astro.glob("../../content/aktiviti/*.md");
import { getCollection } from 'astro:content';
const posts = (await getCollection('aktiviti')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<br>
		<main>
			<section>
				<article>
					<div class="links-container px-5">
						<div class="links" style="display:flex;flex-direction:column-reverse">
							<!-- display semua content -->
							<center>
								<div class="card-container block md:flex-wrap md:flex">
									{
										allPosts.map((posts) => (
										<Card {posts}/>
										))
									}
								</div>
							</center>
						</div>
					</div>
				</article>
				<br><br><br>
			</section>
		</main>
		<Footer />
	</body>
</html>
