---
import BasicLayout from "./BasicLayout.astro";

const { frontmatter } = Astro.props;

---

<BasicLayout title={frontmatter.title} description={frontmatter.description} >
    <div class="title p-4 w-full" style="background-color:#131038">
        <center>
            <h1 class="title text-4xl text-white">{frontmatter.title}</h1>
        </center>
    </div>
	<br>
    <div class="main-container" style="padding-right:4%;padding-left:4%">
        <slot/>
		<br><br>
    </div>
</BasicLayout>
