---
import BasicLayout from "./BasicLayout.astro";

const { frontmatter } = Astro.props;


---

<BasicLayout title={frontmatter.title} description={frontmatter.description} >
	<br>
    <div class="main-container">
        <slot/>
		<br><br>
    </div>
</BasicLayout>
