---
import BasicLayout from "./BasicLayout.astro";

const { frontmatter } = Astro.props;


---

<BasicLayout title={frontmatter.title} description={frontmatter.description} >
    <div class="main-container">
        <slot/>
    </div>
</BasicLayout>
